@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.home {
    background-color: #1e1d1d;
}

li {
    list-style-type: none;
    margin-top: 10px;
    font-size: x-large;
}

#name {
    font-family: 'Pacifico', cursive;
}